body {
  padding: 0;
  margin: 0;
  font-size: 140%;
}

.logo img {
  padding: 10px 20px;
}

.fa {
  padding: 10px;
  font-size: 13px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 10px 2px;
  color: #3e474f;
}

.fa:hover {
  color: #666;
}

.logo {
  grid-area: logo;
}

.social {
  grid-area: social;
}

.banner {
  grid-area: banner;
}

.sidebar {
  grid-area: sidebar;
  padding: 10px;
}

.content {
  grid-area: content;
  padding: 10px;
}

.footer {
  grid-area: footer;
  background-color: #3e474f;
  color: white;
  padding: 10px;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-areas: "logo" "social" "banner""content" "footer" "sidebar";
}

@media only screen and (min-width:500px) {
  .wrapper {
    grid-template-columns: 20% auto;
    grid-template-areas: "logo logo" "social social" "banner banner""content content" "footer footer" "sidebar sidebar";
  }
}

@media only screen and (min-width:600px) {
  .wrapper {
    grid-template-columns: 200px auto 400px;
    grid-template-areas: "logo logo social" "banner banner banner""content content sidebar" "footer footer footer";
  }
}
